In [1109]:
# Dependencies and Setup
import pandas as pd
from functools import reduce

#import munpy as np

# File to Load (Remember to Change These)
school_data_to_load = "schools_complete.csv"
student_data_to_load = "students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [1110]:
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [1111]:
type=school_data_complete[["school_name","type"]]

In [1112]:
type_count=type.groupby("school_name").first()

In [1113]:
##type_count

In [1114]:
school_count=len(school_data_complete["school_name"].unique())

In [1115]:
student_count=len(school_data_complete["Student ID"].unique())

In [1116]:
total_budget="$"+str(sum(school_data_complete["budget"].unique()))

In [1117]:
math_avg=school_data_complete["math_score"].mean()

In [1118]:
read_avg=school_data_complete["reading_score"].mean()

In [1119]:
overall_avg=(math_avg+read_avg)/2

In [1120]:
overall_avg

80.43160582078121

In [1121]:
math_pass_df=school_data_complete.loc[school_data_complete["math_score"]>69,:]

In [1122]:
math_pass=len(math_pass_df["math_score"])

In [1123]:
math_pass_rate=math_pass/student_count*100

In [1124]:
math_pass_rate

74.9808526933878

In [1125]:
read_pass_df=school_data_complete.loc[school_data_complete["reading_score"]>69,:]

In [1126]:
read_pass=len(read_pass_df["reading_score"])

In [1127]:
read_pass_rate=read_pass/student_count*100

In [1128]:
read_pass_rate

85.80546336482001

In [1129]:
district_summary_df=pd.DataFrame({"Total Schools":[school_count],
                                    "Total Students":[student_count],
                                    "Total Budget":[total_budget],
                                     "Average Math Score":[math_avg],
                                     "Average Reading Score":[read_avg],
                                     "% Passing Math":[math_pass_rate],
                                     "% Passing Reading":[read_pass_rate],
                                     "% Overall Passing Rate":[overall_avg]})

In [1130]:
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,$24649428,78.985371,81.87784,74.980853,85.805463,80.431606

In [1131]:
#School Summary

In [1132]:
#school_name=school_data_complete["school_name"]

In [1133]:
#school_type=school_data_complete["type"]

In [1134]:
#creating dataframe school name and student name

In [1135]:
students_per_school=school_data_complete[["school_name", "student_name"]]

In [1136]:
##students_per_school

In [1137]:
#Grouping number of students per school

In [1138]:
total_students_per_school=students_per_school.groupby("school_name").count()

In [1139]:
##total_students_per_school

In [1140]:
#creating dataframe school name and budget

In [1141]:
budget_per_school=school_data_complete[["school_name", "budget",]]

In [1142]:
##budget_per_school

In [1143]:
#Only taking first record per school

In [1144]:
total_budget_per_school=budget_per_school.groupby("school_name").first()

In [1145]:
##total_budget_per_school

In [1146]:
#merged1 = pd.merge(df1, df3, how="left", on=["school_name"])

In [1147]:
#merged1

In [1148]:
#Rename #merged2=merged1.rename({'student_name':'tot_student','budget':'tot_budget'},axis=1)

In [1149]:
#merged2

In [1150]:
#creating variable for total students per school

In [1151]:
total_students_per_school_var=total_students_per_school['student_name']

In [1152]:
#creating variable for total budget per school

In [1153]:
total_budget_per_school_var=total_budget_per_school['budget']

In [1154]:
#tot_budget_df=pd.DataFrame(data=tot_budget)

In [1155]:
#tot_budget_df

In [1156]:
#Calculationg budget per student

In [1157]:
budget_per_student=total_budget_per_school_var/total_students_per_school_var

In [1158]:
##budget_per_student

In [1159]:
budget_per_student_df=pd.DataFrame(budget_per_student)

In [1160]:
##budget_per_student_df

In [1161]:
#creating df with math score

In [1162]:
math_score_per_school=school_data_complete[["school_name", "math_score"]]

In [1163]:
##math_score_per_school

In [1164]:
#calculating average math score per school

In [1165]:
math_score_average=math_score_per_school.groupby('school_name').mean()

In [1166]:
##math_score_average

In [1167]:
#merged3 = pd.merge(merged2, df5, how="left", on=["school_name"])

In [1168]:
#merged3

In [1169]:
#creating df for reading score

In [1170]:
reading_score_per_school=school_data_complete[["school_name", "reading_score"]]

In [1171]:
##reading_score_per_school

In [1172]:
#calculating average reading score per school

In [1173]:
reading_score_average=reading_score_per_school.groupby('school_name').mean()

In [1174]:
##reading_score_average

In [1175]:
#merged4 = pd.merge(merged3, df6, how="left", on=["school_name"])

In [1176]:
#merged4

In [1177]:
#creating df with students with passing math score per school

In [1178]:
math_passing_score=math_score_per_school.loc[math_score_per_school["math_score"]>69,:]

In [1179]:
##math_passing_score

In [1180]:
#calculating number of studentsschools with math passing rate

In [1181]:
math_passing_number=math_passing_score.groupby('school_name').count()

In [1182]:
##math_passing_number

In [1183]:
#calculating number of students with any math score per school

In [1184]:
math_total_score_count=math_score_per_school.groupby('school_name').count()

In [1185]:
##math_total_score_count

In [1186]:
#calculating % Passing math

In [1187]:
math_score_percent=math_passing_number/math_total_score_count*100

In [1188]:
##math_score_percent

In [1189]:
#creating df with students with passing reading score per school

In [1190]:
reading_passing_score=reading_score_per_school.loc[reading_score_per_school["reading_score"]>69,:]

In [1191]:
##reading_passing_score

In [1192]:
#calculating number of studentsschools with reading passing rate

In [1193]:
reading_passing_score_count=reading_passing_score.groupby('school_name').count()

In [1194]:
#reading_passing_score_count=reading_passing_score['reading_score']

In [1195]:
##reading_passing_score_count

In [1196]:
#calculating number of students with any math score per school

In [1197]:
reading_total_score_count=reading_score_per_school.groupby('school_name').count()

In [1198]:
##reading_total_score_count

In [1199]:
#calculating % Passing reading

In [1200]:
reading_score_percent=reading_passing_score_count/reading_total_score_count*100

In [1201]:
##reading_score_percent

In [1202]:
reading_score_percent_var=reading_score_percent['reading_score']

In [1203]:
math_score_percent_var=math_score_percent['math_score']

In [1204]:
#calculating % Overall Passing Rate

In [1205]:
overall_pass_rate=(reading_score_percent_var+math_score_percent_var)/2

In [1206]:
##overall_pass_rate

In [1207]:
#converting series to a dataframe

In [1208]:
overall_pass_rate_df=pd.DataFrame(overall_pass_rate)

In [1209]:
##overall_pass_rate_df

In [1210]:
#merging all dataframes into final

In [1211]:
dfs=[type_count,total_students_per_school,total_budget_per_school,budget_per_student_df,math_score_average,reading_score_average,math_score_percent,reading_score_percent,overall_pass_rate_df]
df_final=reduce(lambda left,right:pd.merge(left,right,on='school_name'),dfs)

In [1212]:
##df_final

In [1213]:
#remaning columns

In [1214]:
school_performance_unsorted=df_final.rename({'type':'School Type','student_name':'Total Students','budget':'Total School Budget','0_x':'Per Student Budget','math_score_x':'Average Math Score','reading_score_x':'Average Reading Score','math_score_y':'% Passing Math','reading_score_y':'%Passing Reading','0_y':'% Overall Passing Rate'},axis=1)

In [1215]:
##school_performance_unsorted

In [1216]:
#Sorting results descending

In [1217]:
school_performance_desc=school_performance_unsorted.sort_values(by=['% Overall Passing Rate'],ascending=False)

In [1218]:
#displaying first 5 results

In [1219]:
school_performance_desc.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,%Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,95.203679

In [1220]:
#sorting ascending

In [1221]:
school_performance_asc=school_performance_unsorted.sort_values(by=['% Overall Passing Rate'],ascending=True)

In [1222]:
#displaying first 5 results

In [1223]:
school_performance_asc.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,%Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308

In [1224]:
# end School Summary

In [1225]:
#Math score by Grade

In [1226]:
df=school_data_complete[['school_name','student_name','grade','math_score']]

In [1300]:
#df

In [1228]:
#create temporary dataframe based on Grade==9th condition

In [1229]:
temp_df9=df.loc[(df['grade']=='9th')]

In [1230]:
#temp_df9

In [1231]:
temp_df10=df.loc[(df['grade']=='10th')]

In [1232]:
#temp_df10

In [1233]:
#create temporary dataframe based on Grade==11th condition

In [1234]:
temp_df11=df.loc[(df['grade']=='11th')]

In [1235]:
#temp_df11

In [1236]:
#create temporary dataframe based on Grade==12th condition

In [1237]:
temp_df12=df.loc[(df['grade']=='12th')]

In [1238]:
#temp_df12

In [1239]:
#create temporary dataframe based grouping by school_name with average score for each grade

In [1240]:
df9_average=temp_df9.groupby('school_name').mean()

In [1241]:
#df9_average

In [1242]:
df10_average=temp_df10.groupby('school_name').mean()

In [1243]:
#df10_average

In [1244]:
df11_average=temp_df11.groupby('school_name').mean()

In [1245]:
df12_average=temp_df12.groupby('school_name').mean()

In [1246]:
#merging temp dataframes fo a unformatted final

In [1247]:
df_grade=[df9_average,df10_average,df11_average,df12_average]
df_grade_final=reduce(lambda left,right:pd.merge(left,right,on='school_name'),df_grade)

In [1248]:
#df_grade_final

In [1249]:
#rename columns

In [1250]:
math_scores_grade=df_grade_final.rename({'math_score_x':'9th','math_score_y':'10th','math_score_x':'11th','math_score_y':'12th'},axis=1)

In [1251]:
math_scores_grade

                            11th       12th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [1252]:
#End Math score by Grades

In [1253]:
# Creating dataframe for reading by grade

In [1254]:
df=school_data_complete[['school_name','student_name','grade','reading_score']]

In [1255]:
temp_df9=df.loc[(df['grade']=='9th')]

In [1256]:
temp_df10=df.loc[(df['grade']=='10th')]

In [1257]:
temp_df11=df.loc[(df['grade']=='11th')]

In [1258]:
temp_df12=df.loc[(df['grade']=='12th')]

In [1259]:
df9_average=temp_df9.groupby('school_name').mean()

In [1260]:
df10_average=temp_df10.groupby('school_name').mean()

In [1261]:
df11_average=temp_df11.groupby('school_name').mean()

In [1262]:
df12_average=temp_df12.groupby('school_name').mean()

In [1263]:
df_grade=[df9_average,df10_average,df11_average,df12_average]
df_grade_final=reduce(lambda left,right:pd.merge(left,right,on='school_name'),df_grade)

In [1264]:
reading_scores_grade=df_grade_final.rename({'reading_score_x':'9th','reading_score_y':'10th','reading_score_x':'11th','reading_score_y':'12th'},axis=1)

In [1265]:
reading_scores_grade

                            11th       12th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [1266]:

#scores by school Spendings

In [1299]:
#school_performance_unsorted

In [1268]:
#creating subset

In [1269]:
df_subset=school_performance_unsorted[['Per Student Budget','Average Math Score','Average Reading Score','% Passing Math','%Passing Reading','% Overall Passing Rate']]

In [1270]:
#df_subset

In [1271]:
bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [1272]:
df_subset["Spending Budget"]=pd.cut(df_subset["Per Student Budget"], bins, labels=group_names)

C:\Users\fkari\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [1298]:
#df_subset

In [1274]:
#spending_group_df=pd.DataFrame(Per Student Budget)

In [1275]:
df_group=df_subset.groupby("Spending Budget").mean()

In [1276]:
#spending_grou_fp=spending_group_df.groupby("Spending Budget")

In [1277]:
df_group.head()

,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,%Passing Reading,% Overall Passing Rate
Spending Budget,,,,,,
<$585,581.000000,83.455399,83.933814,93.460096,96.610877,95.035486
$585-615,604.500000,83.599686,83.885211,94.230858,95.900287,95.065572
$615-645,635.166667,79.079225,81.891436,75.668212,86.106569,80.887391
$645-675,652.333333,76.997210,81.027843,66.164813,81.133951,73.649382

In [1278]:
#Ensd of Scores by School Spending

In [1279]:
#Scores by School Size

In [1280]:
df_subset=school_performance_unsorted[['Total Students','Average Math Score','Average Reading Score','% Passing Math','%Passing Reading','% Overall Passing Rate']]

In [1297]:
#df_subset

In [1282]:
bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [1283]:
df_subset["School Size"]=pd.cut(df_subset["Total Students"], bins, labels=group_names)

C:\Users\fkari\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [1295]:
#df_subset

In [1285]:
school_performance_unsorted

In [1286]:
df_group.head()

,Total Students,Average Math Score,Average Reading Score,% Passing Math,%Passing Reading,% Overall Passing Rate
School Size,,,,,,
Small (<1000),694.500,83.821598,83.929843,93.550225,96.099437,94.824831
Medium (1000-2000),1704.400,83.374684,83.864438,93.599695,96.790680,95.195187
Large (2000-5000),3657.375,77.746417,81.344493,69.963361,82.766634,76.364998

In [1287]:
#End of Scores by School Size

In [ ]:
#Performance by School Type

In [1296]:
#school_performance_unsorted

In [1290]:
df_subset=school_performance_unsorted[['School Type','Average Math Score','Average Reading Score','% Passing Math','%Passing Reading','% Overall Passing Rate']]

In [1294]:
#df_subset

In [1292]:
df_group=df_subset.groupby("School Type").mean()

In [1293]:
df_group

,Average Math Score,Average Reading Score,% Passing Math,%Passing Reading,% Overall Passing Rate
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,95.103660
District,76.956733,80.966636,66.548453,80.799062,73.673757