In [1116]:
# Dependencies and Setup
import pandas as pd
from functools import reduce

# File to Load (Remember to Change These)
school_data_to_load = "schools_complete.csv"
student_data_to_load = "students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [1117]:
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [1118]:
type=school_data_complete[["school_name","type"]]

In [1119]:
type_count=type.groupby("school_name").first()

In [1120]:
##type_count

In [1121]:
school_count=len(school_data_complete["school_name"].unique())

In [1122]:
student_count=len(school_data_complete["Student ID"].unique())

In [1123]:
total_budget="$"+str(sum(school_data_complete["budget"].unique()))

In [1124]:
math_avg=school_data_complete["math_score"].mean()

In [1125]:
read_avg=school_data_complete["reading_score"].mean()

In [1126]:
overall_avg=(math_avg+read_avg)/2

In [1127]:
overall_avg

80.43160582078121

In [1128]:
math_pass_df=school_data_complete.loc[school_data_complete["math_score"]>69,:]

In [1129]:
math_pass=len(math_pass_df["math_score"])

In [1130]:
math_pass_rate=math_pass/student_count*100

In [1131]:
math_pass_rate

74.9808526933878

In [1132]:
read_pass_df=school_data_complete.loc[school_data_complete["reading_score"]>69,:]

In [1133]:
read_pass=len(read_pass_df["reading_score"])

In [1134]:
read_pass_rate=read_pass/student_count*100

In [1135]:
read_pass_rate

85.80546336482001

In [1136]:
district_summary_df=pd.DataFrame({"Total Schools":[school_count],
                                    "Total Students":[student_count],
                                    "Total Budget":[total_budget],
                                     "Average Math Score":[math_avg],
                                     "Average Reading Score":[read_avg],
                                     "% Passing Math":[math_pass_rate],
                                     "% Passing Reading":[read_pass_rate],
                                     "% Overall Passing Rate":[overall_avg]})

In [1137]:
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,$24649428,78.985371,81.87784,74.980853,85.805463,80.431606

In [1138]:
#School Summary

In [1139]:
#school_name=school_data_complete["school_name"]

In [1140]:
#school_type=school_data_complete["type"]

In [1141]:
#creating dataframe school name and student name

In [1142]:
students_per_school=school_data_complete[["school_name", "student_name"]]

In [1143]:
##students_per_school

In [1144]:
#Grouping number of students per school

In [1145]:
total_students_per_school=students_per_school.groupby("school_name").count()

In [1146]:
##total_students_per_school

In [1147]:
#creating dataframe school name and budget

In [1148]:
budget_per_school=school_data_complete[["school_name", "budget",]]

In [1149]:
##budget_per_school

In [1150]:
#Only taking first record per school

In [1151]:
total_budget_per_school=budget_per_school.groupby("school_name").first()

In [1152]:
##total_budget_per_school

In [1153]:
#merged1 = pd.merge(df1, df3, how="left", on=["school_name"])

In [1154]:
#merged1

In [1155]:
#Rename #merged2=merged1.rename({'student_name':'tot_student','budget':'tot_budget'},axis=1)

In [1156]:
#merged2

In [1157]:
#creating variable for total students per school

In [1158]:
total_students_per_school_var=total_students_per_school['student_name']

In [1159]:
#creating variable for total budget per school

In [1160]:
total_budget_per_school_var=total_budget_per_school['budget']

In [1161]:
#tot_budget_df=pd.DataFrame(data=tot_budget)

In [1162]:
#tot_budget_df

In [1163]:
#Calculationg budget per student

In [1164]:
budget_per_student=total_budget_per_school_var/total_students_per_school_var

In [1165]:
##budget_per_student

In [1166]:
budget_per_student_df=pd.DataFrame(budget_per_student)

In [1167]:
##budget_per_student_df

In [1168]:
#creating df with math score

In [1169]:
math_score_per_school=school_data_complete[["school_name", "math_score"]]

In [1170]:
##math_score_per_school

In [1171]:
#calculating average math score per school

In [1172]:
math_score_average=math_score_per_school.groupby('school_name').mean()

In [1173]:
##math_score_average

In [1174]:
#merged3 = pd.merge(merged2, df5, how="left", on=["school_name"])

In [1175]:
#merged3

In [1176]:
#creating df for reading score

In [1177]:
reading_score_per_school=school_data_complete[["school_name", "reading_score"]]

In [1178]:
##reading_score_per_school

In [1179]:
#calculating average reading score per school

In [1180]:
reading_score_average=reading_score_per_school.groupby('school_name').mean()

In [1181]:
##reading_score_average

In [1182]:
#merged4 = pd.merge(merged3, df6, how="left", on=["school_name"])

In [1183]:
#merged4

In [1184]:
#creating df with students with passing math score per school

In [1185]:
math_passing_score=math_score_per_school.loc[math_score_per_school["math_score"]>69,:]

In [1186]:
##math_passing_score

In [1187]:
#calculating number of studentsschools with math passing rate

In [1188]:
math_passing_number=math_passing_score.groupby('school_name').count()

In [1189]:
##math_passing_number

In [1190]:
#calculating number of students with any math score per school

In [1191]:
math_total_score_count=math_score_per_school.groupby('school_name').count()

In [1192]:
##math_total_score_count

In [1193]:
#calculating % Passing math

In [1194]:
math_score_percent=math_passing_number/math_total_score_count*100

In [1195]:
##math_score_percent

In [1196]:
#creating df with students with passing reading score per school

In [1197]:
reading_passing_score=reading_score_per_school.loc[reading_score_per_school["reading_score"]>69,:]

In [1198]:
##reading_passing_score

In [1199]:
#calculating number of studentsschools with reading passing rate

In [1200]:
reading_passing_score_count=reading_passing_score.groupby('school_name').count()

In [1201]:
#reading_passing_score_count=reading_passing_score['reading_score']

In [1202]:
##reading_passing_score_count

In [1203]:
#calculating number of students with any math score per school

In [1204]:
reading_total_score_count=reading_score_per_school.groupby('school_name').count()

In [1205]:
##reading_total_score_count

In [1206]:
#calculating % Passing reading

In [1207]:
reading_score_percent=reading_passing_score_count/reading_total_score_count*100

In [1208]:
##reading_score_percent

In [1209]:
reading_score_percent_var=reading_score_percent['reading_score']

In [1210]:
math_score_percent_var=math_score_percent['math_score']

In [1211]:
#calculating % Overall Passing Rate

In [1212]:
overall_pass_rate=(reading_score_percent_var+math_score_percent_var)/2

In [1213]:
##overall_pass_rate

In [1214]:
#converting series to a dataframe

In [1215]:
overall_pass_rate_df=pd.DataFrame(overall_pass_rate)

In [1216]:
##overall_pass_rate_df

In [1217]:
#merging all dataframes into final

In [1218]:
dfs=[type_count,total_students_per_school,total_budget_per_school,budget_per_student_df,math_score_average,reading_score_average,math_score_percent,reading_score_percent,overall_pass_rate_df]
df_final=reduce(lambda left,right:pd.merge(left,right,on='school_name'),dfs)

In [1219]:
##df_final

In [1220]:
#remaning columns

In [1221]:
school_performance_unsorted=df_final.rename({'type':'School Type','student_name':'Total Students','budget':'Total School Budget','0_x':'Per Student Budget','math_scor_x':'Average Math Score','reading_score_x':'Average Reading Score','math_score_y':'% Passing Math','reading_score_y':'%Passing Reading','0_y':'% Overall Passing Rate'},axis=1)

In [1222]:
##school_performance_unsorted

In [1223]:
#Sorting results descending

In [1224]:
school_performance_desc=school_performance_unsorted.sort_values(by=['% Overall Passing Rate'],ascending=False)

In [1225]:
#displaying first 5 results

In [1226]:
school_performance_desc.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,math_score_x,Average Reading Score,% Passing Math,%Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,95.203679

In [1227]:
#sorting ascending

In [1228]:
school_performance_asc=school_performance_unsorted.sort_values(by=['% Overall Passing Rate'],ascending=True)

In [1229]:
#displaying first 5 results

In [1230]:
school_performance_asc.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,math_score_x,Average Reading Score,% Passing Math,%Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308

In [1232]:
# end School Summary

In [1239]:
df=school_data_complete[['school_name','student_name','grade','math_score']]

In [1240]:
df

              school_name       student_name grade  math_score
0       Huang High School       Paul Bradley   9th          79
1       Huang High School       Victor Smith  12th          61
2       Huang High School    Kevin Rodriguez  12th          60
3       Huang High School  Dr. Richard Scott  12th          58
4       Huang High School         Bonnie Ray   9th          84
...                   ...                ...   ...         ...
39165  Thomas High School       Donna Howard  12th          90
39166  Thomas High School          Dawn Bell  10th          70
39167  Thomas High School     Rebecca Tanner   9th          84
39168  Thomas High School       Desiree Kidd  10th          90
39169  Thomas High School    Carolyn Jackson  11th          75

[39170 rows x 4 columns]

In [1244]:
df['9th Grade']=[1 if x=='9th'else 2 for x in df['grade']]

C:\Users\fkari\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.